@font-face {
    font-family: poppins-regular;
    src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(assets/fonts/Poppins-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins-regular;
}

body{
    height: 100vh;
    background: #c16d32;
    background: radial-gradient(circle, #c16d32 0%, #edcda0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pumpkin{
    width: 40px;
    height: 40px;
    position: relative;
    top: 8px;
}

.main-container{
    background-color: #ffffff;
    width: 100%;
    max-width: 550px;
    padding: 30px;
    border-radius: 10px;
}

h1{
    font-family: poppins-bold;
    margin-bottom: 25px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #dedede;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

button{
    border: none;
    outline: none;
    padding: 15px 40px;
    cursor: pointer;
    background-color: #f48e36;
    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

ul li{
    font-size: 15px;
    padding: 12px 8px 12px 4px;
    list-style-type: none;
    text-decoration: none;
    user-select: none;
}

.fa-circle{
    font-size: 1.2rem;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.fa-circle-check{
    font-size: 1.2rem;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.checkedTask .task-text{
    text-decoration: line-through;
    color: #808080;
}

.uncheckedTask{
    text-decoration: none;
    color: #000000;
}

.task-item .fa-trash{
    margin-right: 20px;
    font-size: 1.2rem;
    position: relative;
    top: 2px;
    color: #565656;
}

.task-item .fa-trash:hover{
    color: #c27715;
}

.task-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
}

.task-text {
    flex-grow: 1; /* allows the text to take up available space */
    margin-left: 10px; /* space between checkbox and text */
}